---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Tentang - dev.kresna.me">
    <main>
        <h1>Tentang</h1>

        <p>Saya Kresna. Saya berasal dari Indonesia. Situs ini dibuat dengan Astro, web framework roket berjanggut yang keren.</p>
        <p>Situs ini dimaksudkan untuk menuangkan eksperimen, gagasan, dan opini yang berkaitan dengan pemrograman yang ditulis dalam bentuk tulisan.</p>
        <p>Saya menggunakan Bahasa Inggris sebagai bahasa utama untuk menulis di situs ini walaupun Bahasa Inggris bukanlah bahasa ibu saya. XD</p>
        <p>Saya sengaja melakukannya karena saya ingin berinteraksi dengan programmer di seluruh dunia atau siapapun yang memiliki ketertarikan topik yang sama dengan saya.</p>
    </main>
</Layout>