---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

const posts = await getCollection('posts', ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
});
let indonesianPosts = posts.filter(post => {
    return post.id.endsWith('id');
});
indonesianPosts = indonesianPosts.map(post => {
    const cleanSlug = post.id.slice(0, -2); // Remove 'id' from the end
    const path = `/id/posts/${cleanSlug}`;
    post = { ...post };
    post.data.path = path;
    return post;
});
indonesianPosts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Layout>
	<main>
		<h1>Halo!</h1>
		
        <div style="margin-bottom: 1rem;">
            <p>Selamat datang!</p>
            <p>Blog ini berisi tentang topik yang berkaitan dengan pemrograman dan panduan menggunakan perangkat lunak. Saya menulis konten dalam Bahasa Indonesia dan dan Bahasa Inggris.</p>
            <p>Selamat membaca!</p>
        </div>

		<h2 style="margin-bottom: 1rem;">Tulisan</h2>

		{indonesianPosts.map((post) => <article style="margin-bottom: 1rem;">
            <h3><a href={post.data.path}>{post.data.title}</a></h3>
            <span style="font-size: .8rem;">{(new Intl.DateTimeFormat('en-US', { dateStyle: 'full' })).format(new Date(post.data.pubDate))}</span>
            <p>{post.data?.description}</p>
        </article>)}
	</main>
</Layout>