---
import Layout from "../layouts/Layout.astro";
---

<Layout title="dev.kresna.me - About">
    <main>
        <h1>About</h1>

        <p>I'm Kresna. I come from Indonesia. This site is build with Astro, the awesome rocket mustache web framework.</p>
        <p>This site intend to be a place to pour my experiment, ideas, and opinion related about software development into a post.</p>
        <p>I use English as the primary language to publish a post in this site although English is not my mother language. XD</p>
        <p>I intend to do that because I would like to interact with world-wide programmer, software developer, or anybody who share the same interest topics with me.</p>
    </main>
</Layout>