---
import Layout from "../layouts/Layout.astro";
---

<Layout title="dev.kresna.me - About">
    <main>
        <h1>About Kresna</h1>

        <p>I'm Kresna. I come from Indonesia. This blog intend to be a place I pour my ideas and experiment related about software development.</p>
        <p>This site will be used in English language although English is not my mother language.</p>
        <p>I intend to do that because I would like to interact with world-wide programmer, software developer, or anybody who have interest topics with me
            in this blog.
        </p>
    </main>
</Layout>