---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const posts = await getCollection('posts');
---

<Layout title="dev.kresna.me" description="Kresna's domain for Software Development">
	<main>
		<h1>Halo!</h1>
		<p>
			Welcome to this site! 
			I create this site to post contents related on software development topic. I try to post it in dual language: English and Bahasa Indonesia.
		</p>

		<h2 style="margin: 1rem 0; font-size: 1.25rem;">Posts</h2>

		{posts.sort((a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate)).map((post) => <article>
            <h2 style="font-size: 1.25rem;"><a href={`/posts/${post.id}`}>{post.data.title}</a></h2>
            <span style="font-size: .8rem;">{(new Intl.DateTimeFormat('en-US', { dateStyle: 'full' })).format(new Date(post.data.pubDate))}</span>
            <p>{post.data?.description}</p>
        </article>)}
	</main>
</Layout>