---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const posts = await getCollection('posts', ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
});
let englishPosts = posts.filter(post => {
    return ! post.id.endsWith('id');
});
englishPosts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Layout>
	<main>
		<h1>Halo!</h1>
		<p>Welcome to this blog!</p>
		<p>This blog contains topic about programming and guidelines of using software. I post in English and Bahasa Indonesia.</p>
		<p>Happy reading!</p>

		<h2>Posts</h2>

		{englishPosts.map((post) => <article>
            <h2><a href={`/posts/${post.id}`}>{post.data.title}</a></h2>
            <span>{(new Intl.DateTimeFormat('en-US', { dateStyle: 'full' })).format(new Date(post.data.pubDate))}</span>
            <p>{post.data?.description}</p>
        </article>)}
	</main>
</Layout>