---
import Layout from '../layouts/Layout.astro';
---

<Layout title="dev.kresna.me">
	<main>
		<h1>Halo, <span class="text-gradient">This is Kresna!</span></h1>
		<p>
			This site intend to be blank right now. In the future, it will contains posts related on software development topic. I will try to post it in dual language: Bahasa Indonesia and English. Thanks for visit this site!
		</p>
	</main>
</Layout>

<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
