---
import Layout from '../layouts/Layout.astro';
---

<Layout title="dev.kresna.me">
	<main>
		<h1>Halo!</h1>
		<p>
			Welcome to this site! I create this to post contents related on software development topic. I try to post it in dual language: English and Bahasa Indonesia.
		</p>
	</main>
</Layout>