---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const posts = await getCollection('posts');
---

<Layout title="dev.kresna.me - Posts">
    <main>
        <h1>Posts</h1>

        {posts.sort((a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate)).map((post) => <article>
            <h2 style="font-size: 1.25rem;"><a href={`/posts/${post.slug}`}>{post.data.title}</a></h2>
            <span style="font-size: .8rem;">{(new Intl.DateTimeFormat('en-US', { dateStyle: 'full' })).format(new Date(post.data.pubDate))}</span>
            <p>{post.data?.description}</p>
        </article>)}
    </main>
</Layout>