---
import { getRelativeLocaleUrl } from 'astro:i18n';
---

<nav>
    <a href={getRelativeLocaleUrl('id', '/')}>Beranda</a>
    <a href={getRelativeLocaleUrl('id', 'about')}>Tentang</a>
    <a href={getRelativeLocaleUrl('id', 'posts')}>Tulisan</a>
</nav>