---
const { heading } = Astro.props;
---

<li>
    <a href={'#'+heading.slug}>{heading.text}</a>
    {
        heading.children.length > 0 && (
            <ul>
                {heading.children.map((subheading) => {
                    return (
                        <Astro.self heading={subheading}/>
                    )
                })}
            </ul>
        )
    }
</li>