---
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} description={frontmatter.description}>
    <main>
        <h1 style="text-align: left; font-size: 1.5rem;">{frontmatter.title}</h1>
        <slot />
    </main>
</Layout>

<style>
    main :global(p) {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    main :global(blockquote) {
        border-left: 2px solid gray;
        padding-left: .5rem;
        color: gray;
    }
</style>